name: Mac

on:
  push:
    branches: [ master, build/remove-autotools-in-favor-of-cmake ]
  pull_request:

jobs:
  build:
    name: Cocoa
    runs-on: macos-latest
    steps:
      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build
        run: |
          cd src
          env OPT="-Werror" make -f Makefile.osx -j$(sysctl -n hw.ncpu)

  release-flags:
    runs-on: macos-latest
    steps:
      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build with Flags Used for Release
        run: |
          cd src
          env OPT="-Werror -O2 -DNDEBUG" make -f Makefile.osx -j$(sysctl -n hw.ncpu)

